.project
.classpath
.settings
build
target
release.properties
pom.xml.releaseBackup
*.iml
.idea
bin
*.class
*.jar
*.war
*.ear
.DS_Store

# These files are added/replaced by maven on every build
/assemblies/static/src/main/resources/resources/components/SparklCards/test/lib/jquery.js
/assemblies/static/src/main/resources/resources/components/SparklCards/test/lib/underscore.js
