<?xml version="1.0" encoding="UTF-8"?>
<plugin title="sparkl" loader="DEFAULT">
	<lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
	<static-paths>
		<static-path url="/sparkl/static" localFolder="static"/>
		<static-path url="/sparkl/resources" localFolder="resources"/>
	</static-paths>
	<content-types>
		<content-type>
			<title>pentahoSPARKL</title>
			<description>pentahoSPARKL - Create and explore pentaho plugins.</description>
			<company name="" url="" logo="@PLUGIN_COMPANY_LOGO@"></company>
		</content-type>
	</content-types>
	<content-generator
		id="sparkl"
		title="pentahoSPARKL"
		type="sparkl"
		class="pt.webdetails.cpk.CpkContentGenerator"/>
	<menu-items/>
</plugin>
