<?xml version="1.0" encoding="UTF-8"?>
<plugin title="cpk" loader="DEFAULT">
	<lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
	<static-paths>
		<static-path url="/cpk/static" localFolder="static"/>
		<static-path url="/cpk/resources" localFolder="resources"/>
	<!--	<static-path url="/cdb/overlay" localFolder="overlay"/>
		<static-path url="/cdb/lang" localFolder="lang"/> -->

	</static-paths>
	<content-types>
	</content-types>
	<content-generator
		id="cpk"
		title="CPK"
		type="cpk"
		class="pt.webdetails.cpk.CpkContentGenerator"/>

	<!-- Menu entry -->
	<menu-items/>
	<!-- <overlays>
		<overlay id="startup.dashboardToolbar"  resourcebundle="../content/cpk/static/lang/messages">
			<overlay id="startup.dashboardToolbar" resourcebundle="../content/cpk/static/lang/messages">
				<toolbarbutton id="newAnalysisButton" removeelement="false"/>
				<toolbar id="mainToolbar">
					<toolbarbutton id="newCDV" image="../content/cpk/static/overlay/cdv_toolbar_icon.png" onclick="mainToolbarHandler.openUrl('${tabName}','${tabName}','content/cdv/home')" tooltiptext="${openNewCDV}" insertafter="newCDBButton"/>
				</toolbar>
			</overlay>
		</overlay>
	</overlays> -->

</plugin>
