<?xml version="1.0" encoding="UTF-8"?>
<plugin title="cpk" loader="DEFAULT">
	<lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
	<static-paths>
		<static-path url="/cpk/static" localFolder="static"/>
		<static-path url="/cpk/resources" localFolder="resources"/>
	</static-paths>
	<content-types>
	</content-types>
	<content-generator
		id="cpk"
		title="CPK"
		type="cpk"
		class="pt.webdetails.cpk.CpkContentGenerator"/>
	<menu-items/>
</plugin>
