<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<cde-styles>
		<path>system/sparkl/resources/styles</path>
	</cde-styles>
	<cde-datasources/>
	  <custom-components>
    <!-- paths from solution with cde component definitions to be loaded-->
    <path>system/sparkl/resources/components</path>
    <path>sparkl/components</path>
  </custom-components>
</settings>
