
/* =============================================================================
   3. FILTER CELLS
   ========================================================================== */

/* Filter Cells */
.WDfilterCell *{
  height: 60px;
}



.WDfilterCellBody {
  display: inline;
  background: #E9ECEE;
}

.WDfilterCellBody .globalOptButtonPH{
  padding-left: 10px;
  background: #E9ECEE;
}
.globalOptButtonPH.multiButton{
  width: 73%;
  float: left;
  display: inline;
}


/********** FILTER ELEMENTS *********/


.WDfilterCellBody button {
  background: #25B9ED;
  color: #F1F2F2;
  font-size: 25px;
  font-weight: lighter;
  width: 100%;
  border-top: 15px solid #E9ECEE;
  border-right: none;
  border-bottom: 10px solid #E9ECEE;
  border-left: none;
}


.WDfilterCellBody button:hover {
  cursor: pointer;
  background: #009DE2;
}


.WDfilterCellBody .pentaho-toggle-button button {
  width: 30%;
  background: #E9ECEE;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  color: #939292;
  vertical-align: baseline;
  border-top: 15px solid #E9ECEE;
  border-right: none;
  border-bottom: 10px solid #E9ECEE;
  border-left: none;
  margin-right: 10px;
  box-shadow: none;
  float: left;
}

.WDfilterCellBody .pentaho-toggle-button-down button {
  color: #25B9ED;
  background: #FFFFFF;
  border-bottom: 10px solid #FFFFFF;  
}




/* =============================================================================
   4. DATA CELLS
   ========================================================================== */







/* =============================================================================
   5. TABLES
   ========================================================================== */


/* =============================================================================
   6. CHARTS 
   ========================================================================== */





