/*
 *    Color Pallete
 *    Fonts
 *    Style Resets
 *    Other 
 *    Project Specific Items  
 *
 */

/* =============================================================================
   Color Pallete
   ========================================================================== */

.sparkl-blue-light{
  /* #D1EEFC */
}
.sparkl-blue{
  /* #41B8EE */
}
.sparkl-blue-selected{
  /* #2C9AE3 */
}
.sparkl-grey{
  /* #EBEDEE */
}
.sparkl-grey-selected{
  /* #DBE7ED */
}
.sparkl-grey-font{
  /* #878685 */
}


/* =============================================================================
   Fonts
   ========================================================================== */



/* =============================================================================
   Style Resets
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
/*margin: 0;
padding: 0;
border: 0;
        font-family: OpenSans, Arial, sans-serif;*/
  }


.WDhidden{
  display:none;
}


/* =============================================================================
   BACKGROUND 
   ========================================================================== */

/* Window Background */
body{
}
/* Dashboard Background / Blueprint Container */
div.container  {
  background: #FFFFFF;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.container *{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* =============================================================================
   HEADER 
   ========================================================================== */






/* =============================================================================
   CELLS
   ========================================================================== */

.sparklCell {
  margin-bottom:25px;
}


/* Data Cells header*/
.sparklCellHeader{
  height: 20px;
  color: #878685;
  font-size: 18px;
  text-align: left;
  position: relative;
  margin-bottom: 10px;
}
.sparklCellHeader.underline {
  border-bottom: 1px solid #41B8EE;
}
.sparklCellHeader .title{
  position: absolute;
  bottom: 0px;
  cursor:default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.tabsCell {
  height:55px;
  padding: 10px 5px 0px 5px;
  background: #EBEDEE;
}


.tabsCell .pentaho-toggle-button {
  width:30%;
}
.tabsCell .pentaho-toggle-button button {
  background: #EBEDEE;
  font-size: 25px;
  color: #878685;
}
.tabsCell .pentaho-toggle-button-down button {
  color: #41B8EE;
  background: #FFFFFF;
}







.pluginsListContainer {
  margin-right:-10px;
}




.actionsCell{
  height: 35px;
  line-height: 27px;
  text-align: right;
}

.actionsCell .actionButton {
  height:100%;
  width:110px;
  margin-right:10px;
  display:inline-block;
}
.actionsCell .actionButton:last-child{
  margin-right:0px;
}

.actionButton button,
.actionButton a{
  height:100%;
  width: 100%;
  background: #EBEDEE;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  color: #878685;
  vertical-align: baseline;
  border: 4px solid #EBEDEE;
  box-shadow: none;
  margin:0px;
  padding:0px;
  text-decoration:none;
  float:left;
}
.actionButton button:hover,
.actionButton a:hover{
  background:#41B8EE;
  color:#FFFFFF;
}












.multiButton {
  height:100%;
}
.multiButton > div {
  height:100%;
}




.filtersContainer {
  height: 35px;
  line-height:27px;
  color: #878685; 
  margin-bottom: 15px;
}

.filtersContainer > div {
  height: 100%;
}

.refreshButton {
  height:100%;
  float:right;
}
.refreshButton button{
  height:100%;
  width:34px;
  background: url('../img/refresh.png') -1px 50% no-repeat #EBEDEE;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  -ms-border-radius:2px;
  border-radius:2px;
  float:right;
}
.refreshButton button:hover{
  background-position: -36px 50%;
  background-color:#EBEDEE;
}

.filtersContainer .pentaho-toggle-button {
  display: inline-block;
  margin-right: 5px;
  height:100%;
  width:30%;
}
.filtersContainer .pentaho-toggle-button button {
  width: 100%;
  height:100%;
  background: #EBEDEE;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  color: #878685;
  vertical-align: baseline;
  border: 4px solid #EBEDEE;
  box-shadow: none;
  float: left;
  margin:0px;
}
.boxshadow .filtersContainer .pentaho-toggle-button button{
  border: 4px solid #EBEDEE;
}
.filtersContainer .pentaho-toggle-button-down button {
  background: #41B8EE;
  color: #FFFFFF;
}

.filtersContainer .filterLabel{
  padding:4px;
  text-align: right;
}










/* =============================================================================
   About Plugin Forms UI / Metadata Forms UI
   ========================================================================== */


.formRow-1 {
  height:45px;
}
.formRow-2{
  height:100px;
}
.formContainer {
  background: #EBEDEE;
  height:100%;
  color: #878685;
  padding: 6px;
  padding-left:90px;
  position:relative;
  margin-bottom: 10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.formContainer:hover {
  background: #41B8EE;
  color: #FFFFFF;
}
.formContainer.noLabel {
  padding-left:6px;
}
.formContainer > div {
  height:100%;
}
.formContainer .formLabel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor:default;
  width:80px;
  margin-left:-84px;
  display:block;
  float:left;
  height:0px;
  line-height:0;
  top:50%;
  position:absolute;
}
.formContainer .formInput {
  height:100%;
}
.formContainer .formInput input{
  height:100%;
  width:100%;
  background: #FFFFFF;
  border: none;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #939292;
  padding-left: 10px;
  margin: 0px;
}
.formContainer .formInput input:hover{
  cursor: pointer;
}
.formContainer .formInput input:focus{
  cursor: auto;
}
.formContainer .uploadButton {
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: none;
  font-size: 12px;
  font-weight: normal;
  color: #939292;
  padding: 0px;
  cursor:pointer;
  position:relative;
}
.formContainer .uploadButton img {
  width:100%;
  height:100%;
}
.formContainer .uploadButton span {
  height:0px;
  line-height:0;
  position:absolute;
  top:50%;
  left:0px;
  width:100%;
  text-align: center;
}




/*.formContainer .formButton{
  width:150px;
  height:100%;
  float:right;
}
.formContainer .formButton button {
  height:100%;
  width:100%;
  color:#FFFFFF;
  background:#25BAED;
}
.formContainer .formButton button:hover{
  background-color: #009DE2;
}*/


.updateLibs {
  height:100%;
}
.updateLibs > div {
  height:100%;
}

.updateLibs .formContainer:hover {
  background-color:#EBEDEE;
  color: #878685;
}
.updateLibs .formContainer .formLabel{
  width:150px;
}
.updateLibs .formContainer {
  background-repeat: no-repeat;
  background-position: 140px 50%;
}
.updateLibs.updated .formContainer{
  background-image: url('../img/validate_correct.png');
}
.updateLibs.outdated .formContainer{
  background-image: url('../img/validate_wrong.png') ;
}


.updateLibs .actionButton{
  height:100%;
}
.updateLibs.updated .actionButton {
  display:none;
}









/* =============================================================================
   New Plugin UI
   ========================================================================== */

.newPluginContainer{
  height: 55px;
  max-height: 55px;
  min-height: 55px;
  font-size: 14px;
  padding:10px;
  border-bottom: none;
  width: 80%;
  position: relative;
  float: left;
  background:#EAEDEE;
  line-height: 37px;
}
 .newPluginContainer *{
  font-size: inherit;
  height: 100%;
  float: left;
}
.newPluginContainer span{
  width: 25%;
  margin:0px;
  color: #25BAEE;
}

.newPluginContainer input{
  font-size: 14px;
  border:none;
  margin:0;
  width: 37%;
  background: url('../img/validate_disabled.png') no-repeat scroll right center #FFFFFF;
  padding-left: 10px;
}
.newPluginContainer.notEmpty  input{
  background-image: url('../img/validate_correct.png');
}
.newPluginContainer.inUse.notEmpty  input,
.newPluginContainer.invalid.notEmpty  input{
  background-image: url('../img/validate_wrong.png') ;
}

.newPluginContainer .validityFeedback {
  width: 38%;
  padding-left:10px;
  background: #C31116;
  color: #FFFFFF;
  display:none;
}
.newPluginContainer.inUse.notEmpty .validityFeedback.inUseLabel{
  display:inline-block;
}
.newPluginContainer.invalid.notEmpty .validityFeedback.invalidLabel{
  display:inline-block;
}

.createNewPluginButton {
/*  background: #EAEDEE;
  color: #8C8B8B;
*/  width: 19%;
  height: 55px;
  max-height: 55px;
  min-height: 55px;
  float: right;
}
.createNewPluginButton button{
  background: #EAEDEE;
  color: #8C8B8B;
  font-size: 15px;
  border: 0px none;
  box-shadow: none;
  height: 100%;
  width: 100%;
  vertical-align: baseline;
}
.createNewPluginButton button:hover{
  cursor: default;  
}
.createNewPluginButton.active button{
  background: #41B8EE;
  color: #D1EEFC;
}
.createNewPluginButton.active:hover button{
  background: #2C9AE3;
  color:#FFFFFF;
  cursor: pointer;
}













/* =============================================================================
   New Element UI
   ========================================================================== */

.newElementContainer {
  padding:6px;
  background: #EBEDEE;
  height:50px;
}

.newElementContainer > div{
  height: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #878685;
  position: relative;
  float: left;

  margin-right:6px;
}
.newElementContainer.active > .negative,
.newElementContainer.inactive > .positive {
  display:none;
}
.newElementContainer .formButton button{
  width:100%;
  height:100%;
  margin:0;
  color:#FFFFFF;
  font-size: 15px;
  border: 0;
  box-shadow: none;
  vertical-align: baseline;  
  cursor:pointer;
  background: url('../img/add_new.png') 50% 50% no-repeat #25BAED;
}
.newElementContainer.notEmpty .formButton button:hover {
  background-color: #009DE2 ;
}

.newElementContainer.empty .formButton.addElement button,
.newElementContainer.notEmpty.invalid .formButton.addElement button,
.newElementContainer.notEmpty.reserved .formButton.addElement button,
.newElementContainer.notEmpty.inUse .formButton.addElement button,
.newElementContainer.empty .formButton.addElement button:hover,
.newElementContainer.notEmpty.invalid .formButton.addElement button:hover,
.newElementContainer.notEmpty.reserved .formButton.addElement button:hover,
.newElementContainer.notEmpty.inUse .formButton.addElement button:hover {
  cursor:default;
  background-color: #EAEDEE;
}


.newElementContainer .toggleNewElement.formButton {
  width:100%;
  margin:0;
}
.newElementContainer .addElement.formButton {
  width:38px;
  float:right;
}
.newElementContainer .toggleNewElement.formButton button {
   background-position: 99% 50%;   
}

.newElementContainer .formInput{
  width: 30%;
}
.newElementContainer .formInput input {
  height:100%;
  width: 100%;
  background: #FFFFFF;
  border: none;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #939292;
  padding-left: 10px;
  margin: 0px;
  cursor: pointer;
  background: url('../img/validate_disabled.png') no-repeat scroll right center #FFFFFF;
}
.newElementContainer.notEmpty  .formInput input{
  background-image: url('../img/validate_correct.png');
}
.newElementContainer.inUse.notEmpty  .formInput input,
.newElementContainer.invalid.notEmpty  .formInput input,
.newElementContainer.reserved.notEmpty .formInput input{
  background-image: url('../img/validate_wrong.png') ;
}


.newElementContainer.inUse.notEmpty .toggleValidation,
.newElementContainer.invalid.notEmpty .toggleValidation,
.newElementContainer.reserved.notEmpty .toggleValidation{
  display:none;
}


.newElementContainer .validityLabels{
  width:64%;
  display:none;
  line-height: 38px;
}
.newElementContainer .validityLabels > div{
  width:100%;
  height:100%;
}
.newElementContainer.inUse.notEmpty .validityLabels,
.newElementContainer.invalid.notEmpty .validityLabels,
.newElementContainer.reserved.notEmpty .validityLabels{
  display:inline-block;
}

.newElementContainer .validityFeedback {
  width: 100%;
  height:100%;
  background: #C31116;
  color: #FFFFFF;
  display:none;
  padding-left:10px;
}
.newElementContainer.inUse.notEmpty .validityFeedback.inUseLabel{
  display:inline-block;
}
.newElementContainer.invalid.notEmpty .validityFeedback.invalidLabel{
  display:inline-block;
}
.newElementContainer.reserved.notEmpty .validityFeedback.reservedLabel{
  display:inline-block;
}










.newElementContainer .formInput input:focus{
  cursor: auto;
}
.newElementContainer .formSelector{
  width: 23%;
}
.newElementContainer  .formButton button{
  background: url('../img/add_new.png') no-repeat center center #25BAED;
}
.newElementContainer .formButton button:hover{
  background-color: #009DE2;
}
.newElementContainer .formLabel {
  line-height: 38px;
  padding-left:20px;
}
.newElementContainer .formCheckbox{
  padding-top:6px;
}
.newElementContainer .formCheckbox button {
  background:#FFFFFF;
  border: solid 1px #D0CFCF;
  height:26px;
  width:26px;
  position: relative;
}
.newElementContainer .formCheckbox .checkMark{
  height:18px;
  width:23px;
  border:none;
  position:absolute;
  background: no-repeat center center transparent;
  top: 3px;
  left: 5px;
}
.newElementContainer .formCheckbox.checked .checkMark{
  background-image: url("../img/checked.png");
}
.newElementContainer .formSelector .chzn-container{
  /*min-width: 188px;*/
  min-width: 100%;
  height: 100%;
  border: none;
}
.newElementContainer .formSelector .chzn-container span{
  line-height: 38px;
  text-indent: 8px;
}
.newElementContainer .formSelector .chzn-container .chzn-single div b{
  height: 100%;
}
.newElementContainer .formSelector .chzn-drop{
  height: auto;
}
.newElementContainer .formSelector .chzn-drop .chzn-results li{
  height: 38px;
  line-height: 22px;
  text-indent: 8px;
}















/* =============================================================================
   TABLES
   ========================================================================== */

 .dataTables_wrapper {
  min-height: 1px;
  margin-left: -5px;
  margin-right: -5px;
}
 .dataTables_wrapper .dataTables_filter{
  display: none;
}

table{
  border: none;
  max-width: 100%;
  min-width: 100%;
  padding-top: 10px;
  border-collapse:separate;
  border-spacing:5px 10px;
}
table tr{
  background: #EBEDEE;
  height: 50px;
}

/* Header */
thead tr {
  height: 30px;
}
thead th {
  background: #FFFFFF;
  color: #939292;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  vertical-align: bottom;
}
thead th:last-child {
  text-align: center;
}

/* Body */
tbody td{
  text-align: left;
  color: #939292;
  font-size: 15px;
  padding:0px;
  padding-left: 10px;
  background:#EBEDEE;
}
tbody td:last-child {
  text-align: center;
  border-right: none;
}
tbody td.actionButtons {
	padding: 0px;
  height:50px; /* Can't work out a percentual height with tables */
}

tbody td.actionButtons .buttonContainer {
  height:100%;
  width:100%;
}
tbody td.actionButtons button{
  background: #41B8EE;
  color: #D1EEFC;
  font-size: 15px;
  border: 0px none;
  box-shadow: none;
  height: 100%;
  width:100%;
  vertical-align: baseline;
  border-right: 1px solid #D1EEFC;
}
tbody td.actionButtons button:last-child {
  border-right:none;
}
tbody td.actionButtons button:hover{
  background: #2C9AE3;
  color:#FFFFFF;
}
tbody td.actionButtons .numButtons-1 button{
  width:100%;
}
tbody td.actionButtons .numButtons-2 button{
  width:50%;
}
tbody td.actionButtons .numButtons-3 button{
  width:33.3333333%;
}
tbody td.actionButtons .numButtons-4 button{
  width:25%;
}

















/* =============================================================================
   Elements Baseline
   ========================================================================== */

button {
  cursor:pointer;
  border:none;
  width: 100%;
  height: 100%;
}

.pentaho-toggle-button {
  height:100%;
  display: inline-block;
}
.pentaho-toggle-button button {
  width: 100%;
  height:100%;
  text-align: center;
  font-weight: lighter;
  vertical-align: baseline;
  float: left;
  cursor: pointer;
  padding:0;
}
.boxshadow .pentaho-toggle-button button {
  box-shadow: none;
  border:none;
}







/**** Chosen Select *****/
/* All Chosen elements */
.chzn-container{
  height:100%;
  border: 4px solid #EBEDEE;
  min-width:160px;
}

.chzn-container .chzn-drop {
  background: none;
  min-width: 100%;
  border: 0 none;
  border-radius: 0px;
  margin: 0px;
  margin-top:2px;
  height:auto;
}
.chzn-container .chzn-results {
  overflow: hidden;
  padding: 0px;
  width: 100%;
  margin:0px;
}
.chzn-drop  .chzn-search{
  display: none;
}
.chzn-drop  .chzn-results li{
  line-height: 10px;
  height: 25px;
  color: #D1EEFC;
  text-indent: 4px;
  border-bottom: 1px solid #D1EEFC;
  background: #41B8EE;
}
.chzn-drop .chzn-results li:last-child{
  border-bottom:none;
}
.chzn-drop .chzn-results li:hover {
  background: #2C9AE3;
  color:#FFFFFF;
}

/* Single Select */
.chzn-container-single .chzn-single{
  background: #41B8EE;
  color: #D1EEFC;
  border-radius: 0px;
  border:none;
  height: 100%;
  min-width: 100%;
  line-height: 26px;
}
.chzn-container-active .chzn-single {
    box-shadow: none;
}
.chzn-container-single .chzn-single.chzn-single-with-drop,
.chzn-container-single .chzn-single:hover{
  box-shadow: none;
  border:none;
  background:#2C9AE3;
  color:#FFFFFF;
}
.noResults .chzn-container-single .chzn-single,
.noResults .chzn-container-single .chzn-single.chzn-single-with-drop,
.noResults .chzn-container-single .chzn-single:hover{
  background:#CFCECE;
  color:#FFFFFF;
  cursor:default;
}

.chzn-container-single .chzn-single div{ /* Arrow container */
  background: none;
  border:none;
  width:22px;
}
.chzn-container-single .chzn-single div b{
  width:18px;
  height:11px;
  display:inline-block;
  background: url('../img/arrow.png') -4px 50% no-repeat transparent;
}
.chzn-container-single .chzn-single-with-drop div b,
.chzn-container-single .chzn-single:hover div b{ /* Arrow */
  background-position: -28px 50%;
}
.noResults .chzn-container-single div b,
.noResults .chzn-container-single .chzn-single-with-drop div b,
.noResults .chzn-container-single .chzn-single:hover div b{ /* Arrow */
  background-position: -28px 50%;
}









/* =============================================================================
   Other 
   ========================================================================== */


.container .blockElement img {
  display:none;
}


.popupComponent{
   color: #878685;
   font-size: 18px;
   text-align: left;
   height: auto;
   padding: 15px 15px 15px 15px; 

   border:solid 2px #25B9ED;
   -webkit-box-shadow:0px 1px 2px 0px #C4C4C4;
   -moz-box-shadow:0px 1px 2px 0px #C4C4C4;
   -o-box-shadow:0px 1px 2px 0px #C4C4C4;
   -ms-box-shadow:0px 1px 2px 0px #C4C4C4;
   box-shadow:0px 1px 2px 0px #C4C4C4;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   -o-border-radius:2px;
   -ms-border-radius:2px;
   border-radius:2px;

   position: absolute;

  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popupComponent *{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popupComponent a{
   display: none;
}
.popupComponent.north .arrow,
.popupComponent.south .arrow {
  background-image: none;
}


/*Email Info Popup*/
.emailInfoPopupCont{
  width: 500px;
}





input.editBox{
  background-color: transparent;
  border: 1px solid transparent;
  height: 20px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  resize: none;
  padding: 0;
  margin: 0;
  width: 370px;
}

input.editBox:hover {
    background: url("../img/writeUnfocus.png") no-repeat scroll right center transparent;
    border: 1px solid transparent;
}

input.editBox:focus {
    background: url("../img/writeFocus.png") no-repeat scroll right center transparent;
    border: 1px solid #0F1414;
}



.sparklPluginCardContainer .optionsIcon{
  background-image: url('../img/options.png');
}




/***** Confirmation Message Dialog *****/
.ui-dialog{
}
.ui-dialog.ui-widget.ui-corner-all{
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
}
.ui-dialog.ui-widget.ui-widget-content{
  background: #FFFFFF;
  color: #8786A4;
  border: 2px solid #25B9ED;
}

.ui-dialog .ui-dialog-titlebar.ui-widget-header{
  border-radius: 0px;
  background: #25B9ED;
  color: #FFFFFF;
  border: none;
}
.ui-dialog .ui-dialog-titlebar.ui-widget-header a{
  display: none;
}
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a{
  display: inline;
}
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a.ui-dialog-titlebar-close.ui-state-focus,
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a.ui-dialog-titlebar-close.ui-state-hover{
  background: #25B9ED;
  border: none;
}
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a span{
  background: url('../img/x.png') -45px -10px no-repeat #25B9ED;
}
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a.ui-dialog-titlebar-close.ui-state-focus span,
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a.ui-dialog-titlebar-close.ui-state-hover span{
  background: url('../img/x.png') -11px -9px no-repeat #25B9ED;
}
.ui-dialog .ui-dialog-content{
  color: #8786A4;
  min-height: 0px;
}
.ui-dialog .ui-dialog-buttonpane{
  background: #FFFFFF;
  border: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.ui-dialog .ui-dialog-buttonpane button{
  background: #25B9ED;
  color: #FFFFFF;
  border-radius: 0px;
  border: none;
}
.ui-dialog .ui-dialog-buttonpane button:hover{
  background: #2C9AE3;
  color:#FFFFFF;
}

.ui-widget-overlay{
  background: #FFFFFF;
  opacity: 0.8;
}





