/*
 * WDStyleGuide Template CSS  
 *
 * Use this as a template to format the styles of specific projects. Most of 
 * the most commonly used classes/rules are already written here. The file is
 * divided in the following sections:
 *
 *    Color Pallete
 *    Fonts
 *    Style Resets
 *    1. BACKGROUND 
 *    2. HEADER 
 *    3. FILTER CELLS
 *    4. DATA CELLS
 *    5. TABLES
 *    6. CHARTS 
 *    7. SELECTORS AND BUTTONS
 *    8. SITE MAP
 *    Other 
 *    Project Specific Items  
 *
 */

/* =============================================================================
   Color Pallete
   ========================================================================== */

.sparkl-blue-light{
  /* #D1EEFC */
}
.sparkl-blue{
  /* #41B8EE */
}
.sparkl-blue-selected{
  /* #2C9AE3 */
}
.sparkl-grey{
  /* #EBEDEE */
}
.sparkl-grey-selected{
  /* #DBE7ED */
}
.sparkl-grey-font{
  /* #878685 */
}


/* =============================================================================
   Fonts
   ========================================================================== */



/* =============================================================================
   Style Resets
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
/*margin: 0;
padding: 0;
border: 0;
        font-family: Open Sans, Arial, sans-serif;*/
  }


.WDhidden{
  display:none;
}


/* =============================================================================
   1. BACKGROUND 
   ========================================================================== */

/* Window Background */
body{
}
/* Dashboard Background / Blueprint Container */
div.container  {
  background: #FFFFFF;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.container *{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* =============================================================================
   2. HEADER 
   ========================================================================== */
.WDheader {
}

.WDh1 {}
.WDh2 {}



/* =============================================================================
   3. FILTER CELLS
   ========================================================================== */

.globalOptText{
	line-height: 40px;
	text-align: middle;
	color: #878685; 
	text-indent: 20px;
}


.popupComponent .WDfilterCell {
  width: 49%;
  display: inline-block;
}
/* Filter Cells header */
.popupComponent .WDfilterCellHeader{
  width: 100%;
}


/* Filter Cells body */
.WDfilterCellBody.tabsContainer {
  display: inline;
  background: #EBEDEE;
}

.WDfilterCell {
  margin-bottom:34px;
}

.WDfilterCellBody,
.WDfilterCellBody > * {
  height:34px;
}

.WDfilterCellBody.tabsContainer,
.WDfilterCellBody.tabsContainer > * {
  height:60px;
}


/********** FILTER ELEMENTS *********/

.WDfilterCellBody.tabsContainer button {
  background: #41B8EE;
  color: #D1EEFC;
  font-size: 25px;
  font-weight: lighter;
  width: 100%;
  border-top: 15px solid #EBEDEE;
  border-right: none;
  border-bottom: 10px solid #EBEDEE;
  border-left: none;
}
.WDfilterCellBody.tabsContainer button:hover{
  background: #2C9AE3;
  color:#FFFFFF;  
} 

.WDfilterCellBody.tabsContainer .closeButton button {
  background: url('../img/x.png') -2px -5px no-repeat #41B8EE;
}
.WDfilterCellBody.tabsContainer .closeButton button:hover {
  background: url('../img/x.png') -52px -5px no-repeat #2C9AE3;
}

.WDfilterCellBody.tabsContainer .pentaho-toggle-button button {
  width: 30%;
  background: #EBEDEE;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  color: #878685;
  vertical-align: baseline;
  border-top: 15px solid #EBEDEE;
  border-right: none;
  border-bottom: 10px solid #EBEDEE;
  border-left: none;
  margin-right: 10px;
  box-shadow: none;
  float: left;
}

.WDfilterCellBody.tabsContainer .pentaho-toggle-button-down button {
  color: #41B8EE;
  background: #FFFFFF;
  border-bottom: 10px solid #FFFFFF;  
}


.popupComponent .WDfilterCellBody > *{
  display: inline-block;
  background: #EBEDEE;
}
.no-svg .popupComponent .WDfilterCellBody{
}
.svg .popupComponent .WDfilterCellBody{
}

.WDfilterCellBody {
  display: inline;
}

.WDfilterCellBody .globalOptButtonPH{
  padding-left: 10px;
  background: #EBEDEE;
}
.globalOptButtonPH.multiButton{
  width: 75%;
  float: left;
  display: inline;
  background: #EBEDEE;
}
.globalOptButtonPH.tabsContainer{
  width: 73%;
  float: left;
  display: inline;
}
.tabsContainer .globalOptButtonPH *{
  height: 100%;
}
.globalOptButtonPH.submitButton{
  width: 25%;
  float: right;
  background: #FFFFFF;
}
.globalOptButtonPH.saveButton{
  width: 20%;
  float: right;
}
.globalOptButtonPH.closeButton{
  width: 7%;
  float: right;
  padding-right: 10px;
}

.tabGlobalOpt .globalOptButtonPH{
  display: inline;
  float: right;
  width: 15%;
  padding-left: 0px;
  margin-left: 10px;
}
.tabGlobalOpt .globalOptButtonPH * {
  height: 100%;
}
.tabGlobalOpt .globalOptButtonPH button{
  width: 100%;
  background: #EBEDEE;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  color: #878685;
  vertical-align: baseline;
  border: 4px solid #EBEDEE;
  box-shadow: none;
  float: left;
  margin:0px;
}
.tabGlobalOpt .globalOptButtonPH button:hover{
  background: #41B8EE;
  color: #FFFFFF;
}
.tabGlobalOpt .globalOptButtonPH.WDhidden{
  display: none;
}

/********** FILTER ELEMENTS *********/


.WDfilterCellBody .refreshButtonContainer,
.WDfilterCellBody .refreshButtonContainer > div {
  height:34px;
  float:right;
}
.WDfilterCellBody .refreshButtonContainer button{
  height:100%;
  width:34px;
  background: url('../img/refresh.png') -6px 50% no-repeat #EBEDEE;
}
.WDfilterCellBody .refreshButtonContainer button:hover{
  background-position: -53px 50%;
  background-color:#EBEDEE;
}



.WDfilterCellBody button {
  border:none;
  background-color: #25B9ED;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: normal;
  width: 100%;
  height: 100%;
}
.no-svg .WDfilterCellBody button {
}
.svg .WDfilterCellBody button {
}

.WDfilterCellBody button:hover {
  cursor: pointer;
  background-color: #2C9AE3;
}
.WDfilterCellBody button span {
}


/* Multi Button */
.WDfilterCellBody .multiButtonContainer {
  height:100%;
}
.WDfilterCellBody .multiButtonContainer > div{
  height:100%;
}
.WDfilterCellBody .pentaho-toggle-button {
  display: inline-block;
  margin-right: 5px;
  height:100%;
  width:30%;
}
.WDfilterCellBody .tabsContainer .pentaho-toggle-button {
  display: inline;
}
.WDfilterCellBody .pentaho-toggle-button {
}
.no-svg .WDfilterCellBody .pentaho-toggle-button {
}
.svg .WDfilterCellBody .pentaho-toggle-button {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-first {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-last {
}
.WDfilterCellBody .pentaho-toggle-button:hover,
  .WDfilterCellBody .pentaho-toggle-button:hover button{
  }
.WDfilterCellBody .pentaho-toggle-button-down {

}
.no-svg .WDfilterCellBody .pentaho-toggle-button-down {
}
.svg .WDfilterCellBody .pentaho-toggle-button-down {
}

.WDfilterCellBody .pentaho-toggle-button button {
  width: 100%;
  height:100%;
  background: #EBEDEE;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  color: #878685;
  vertical-align: baseline;
  border: 4px solid #EBEDEE;
  box-shadow: none;
  float: left;
  margin:0px;
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-last button {
}
.WDfilterCellBody .pentaho-toggle-button-horizontal-first button {
}
.WDfilterCellBody .pentaho-toggle-button-down button {
  background: #41B8EE;
  color: #FFFFFF;
}


/**** Chosen Select *****/
/* All Chosen elements */
.WDfilterCellBody .chzn-container{
	height:100%;
  min-width: 160px;
  border: 4px solid #EBEDEE;
}
.WDfilterCellBody .chzn-container * {
}
.WDfilterCellBody .chzn-container-active{
}
.WDfilterCellBody .chzn-container .chzn-drop {
	background: none;
	min-width: 100%;
	border: 0 none;
	border-radius: 0px;
  margin: 0px;
  margin-top:2px;
  height:auto;
}
.WDfilterCellBody .chzn-container .chzn-results {
	overflow: hidden;
	padding: 0px;
	width: 100%;
  margin:0px;
}
.WDfilterCellBody .chzn-drop{
}
.WDfilterCellBody .chzn-drop  .chzn-search{
	display: none;
}
.WDfilterCellBody .chzn-drop .chzn-search input{
}
.WDfilterCellBody .chzn-drop  .chzn-results{
}
.WDfilterCellBody .chzn-drop  .chzn-results li{
	line-height: 10px;
	height: 25px;
	color: #D1EEFC;
	text-indent: 4px;
	border-bottom: 1px solid #D1EEFC;
  background: #41B8EE;
}
.WDfilterCellBody .chzn-drop .chzn-results li:last-child{
  border-bottom:none;
}
.WDfilterCellBody .chzn-drop .chzn-results em{
}
.WDfilterCellBody .chzn-drop  .chzn-results .active-result{
}
.WDfilterCellBody .chzn-drop  .chzn-results .highlighted{
}
.WDfilterCellBody .chzn-drop .chzn-results li:hover {
	background: #2C9AE3;
  color:#FFFFFF;
}
.WDfilterCellBody .chzn-drop  .chzn-results .no-results {
}

/* Single Select */
.WDfilterCellBody .chzn-container-single .chzn-single{
	background: #41B8EE;
	color: #D1EEFC;
	border-radius: 0px;
  border:none;
	height: 100%;
	min-width: 100%;
  line-height: 26px;
}
.WDfilterCellBody .chzn-container-active .chzn-single {
    box-shadow: none;
}
.no-svg  .WDfilterCellBody .chzn-container-single .chzn-single{
}

.svg  .WDfilterCellBody .chzn-container-single .chzn-single{

}
.WDfilterCellBody .chzn-container-single:hover .chzn-single{
  background:#2C9AE3;
}

.WDfilterCellBody .chzn-container-single .chzn-single span{
}
.WDfilterCellBody .chzn-container-single .chzn-single div{ /* Arrow container */
	background: none;
  border:none;
  width:22px;
}
.WDfilterCellBody .chzn-container-single .chzn-single div b{
  width:18px;
  height:11px;
  display:inline-block;
  background: url('../img/arrow.png') -8px 50% no-repeat transparent;
}
.WDfilterCellBody .chzn-container-single .chzn-single-with-drop div b,
.WDfilterCellBody .chzn-container-single .chzn-single:hover div b{ /* Arrow */
  background-position: -40px 50%;
}
.WDfilterCellBody .chzn-container-single:hover .chzn-single div b,
  .WDfilterCellBody .chzn-container-single:hover .chzn-single-with-drop div b{ /* Arrow */
  
}
.WDfilterCellBody .chzn-container-single .chzn-single.chzn-single-with-drop,
.WDfilterCellBody .chzn-container-single .chzn-single:hover{
	box-shadow: none;
  border:none;
  background:#2C9AE3;
  color:#FFFFFF;
}
.WDfilterCellBody .chzn-container-single .chzn-single-with-drop span{
}
.WDfilterCellBody .chzn-container-single .chzn-single-with-drop div{ /* Arrow container */
}
.WDfilterCellBody .chzn-container-single .chzn-single-with-drop div b{
} 


/* Multi Select */
.WDfilterCellBody .chzn-container-multi.chzn-container{
}
.WDfilterCellBody .chzn-container-multi .chzn-drop{
}
.WDfilterCellBody .chzn-container-multi .chzn-drop .selectTooltipTriangle{
}
.WDfilterCellBody .chzn-container-multi .chzn-drop  .chzn-results{
}

.WDfilterCellBody .chzn-container-multi .chzn-choices {
}
.WDfilterCellBody .chzn-container-multi:hover .chzn-choices,
  .WDfilterCellBody .chzn-container-multi.chzn-container-active .chzn-choices{
  }
.WDfilterCellBody .chzn-container-multi .chzn-choices  .search-choice {

}
.no-svg   .WDfilterCellBody .chzn-container-multi .chzn-choices  .search-choice {
}
.svg   .WDfilterCellBody .chzn-container-multi .chzn-choices  .search-choice {
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-choice span{
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-choice .search-choice-close{
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
}
.WDfilterCellBody .chzn-container-multi .chzn-choices .search-field input{
}

/* =============================================================================
   4. DATA CELLS
   ========================================================================== */

/* Data Cells */
.WDdataCell {
  position: relative;
  margin-bottom:20px;
}  
.WDdataCell.lastCell {
  margin-bottom:0px;
}

/* Data Cells header*/
.WDdataCellHeader{
  height: 20px;
  color: #878685;
  font-size: 18px;
  text-align: left;
  position: relative;
}
.WDdataCellHeader .title{
  position: absolute;
  bottom: 0px;
  cursor:default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.WDdataCellHeader .subcellHeaderUnderline{
  width: 100%;
  height: 3px;
  background: inherit;
  border-top: 1px solid #41B8EE;
  position: absolute;
  bottom: 0px;
}
.no-svg   .WDdataCellHeader {
}
.svg   .WDdataCellHeader {
}

/* Data Cells body */
.WDdataCellBody {
}
.WDdataCellBody.aboutPlugin {
}
.WDdataCellBody.aboutAuthor {
}

.WDdataCellBody .cont{
  height: 50px;
  padding: 6px 0px 6px 0px;
  background: #EBEDEE;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #878685;
  position: relative;
  border-bottom: 10px solid #FFFFFF;
  position: relative;
}

.WDdataCellBody .cont *{
  height: 100%;
/*  width: 100%;*/
  font-size: inherit;
/*  float: left;*/
}

.WDdataCellBody .cont:hover{
  background: #41B8EE;
  color: #FFFFFF;
}
.WDdataCellBody .cont *{
  height: 100%;
}

.WDdataCellBody .cont .labelPH{
  background: inherit;
  padding-left: 10px;
/*  width: 15%;*/
  line-height: 30px;
  margin-right: 4px;
  cursor:default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.WDdataCellBody .cont .formPH input{
  width: 100%;
  background: #FFFFFF;
  border: none;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #939292;
  padding-left: 10px;
  margin: 0px;
}
.WDdataCellBody .cont .formPH input:hover{
  cursor: pointer;
}
.WDdataCellBody .cont .formPH input:focus{
  cursor: auto;
}
.WDdataCellBody .cont .formPH.readOnly input{
  background: inherit;
}
.WDdataCellBody .cont .formPH.readOnly input:hover{
  cursor: auto;
}
.WDdataCellBody .cont .uploadButton{
  padding: 0px 6px 0px 6px;    
}
.WDdataCellBody .cont .uploadButton button{
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: none;
  font-size: 12px;
  font-weight: normal;
  color: #939292;
  padding: 0px 6px 0px 6px;    
}

.aboutPlugin .cont.name {}
.aboutPlugin .cont.img {height: 100px}
.aboutPlugin .cont.cross {}
.aboutPlugin .cont.description {}
.aboutPlugin .cont.date {}
.aboutPlugin .cont.version {}

.WDdataCellBody .cont.newPlugin{
  font-size: 17px;
  margin-top: 15px;
  padding:6px;
}
.WDdataCellBody .cont.newPlugin *{
  font-size: inherit;
  height: 100%;
  float: left;
}
.cont.newPlugin .labelPH{
  width: 15%;
  line-height: 30px;
  margin:0px;
}
.cont.newPlugin .formPH{
  width: 70%;
  margin:0px;
}
.cont.newPlugin .formPH input{
  font-size: 17px;
  width: 100%;
}
.cont.newPlugin .buttonPH{
    width: 15%;
    padding-left: 6px;
    margin:0px;
}
.cont.newPlugin .buttonPH button{
  width: 100%;
  background: #41B8EE;
  color: #D1EEFC;
  font-size: 15px;
  border: 0px none;
  box-shadow: none;
  vertical-align: baseline;  
}
.cont.newPlugin .buttonPH button:hover{
  background: #2C9AE3;
  color:#FFFFFF;
}


/* =============================================================================
   5. TABLES
   ========================================================================== */

.WDdataCellBody .dataTables_wrapper {
  min-height:1px;
}


.WDdataCellBody table{
  border: none;
}
.WDdataCellBody table tr{
  background: #EBEDEE;
  height: 50px;
}

/* Header */
.WDdataCellBody  thead {
  display: none;
}
.WDdataCellBody thead tr {
}
.WDdataCellBody  thead th {
  background: #FFFFFF;
  color: #939292;
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  border-bottom: 10px solid #FFFFFF;
  border-right: 5px solid #FFFFFF;
  padding-left: 10px;
}
.WDdataCellBody  thead th:last-child {
  text-align: center;
}
.WDdataCellBody thead th.sorting{
}
.WDdataCellBody thead th.sorting_asc{
}
.WDdataCellBody  thead th.sorting_desc{
}
.WDdataCellBody  thead th:first-child {
}

/* Body */
.WDdataCellBody  tbody {}
.WDdataCellBody  tbody tr {
}
.WDdataCellBody  tbody td{
  text-align: left;
  color: #939292;
  font-size: 15px;
  border-bottom: 10px solid #FFFFFF;
  border-right: 5px solid #FFFFFF;
  padding-left: 10px;
}
.WDdataCellBody  tbody td:last-child {
  text-align: center;
  border-right: none;
}
.WDdataCellBody  tbody td,
  .WDdataCellBody  tbody td.numeric, 
  .WDdataCellBody  tbody td.string {
  }

.WDdataCellBody  tbody td button{
  background: #41B8EE;
  color: #D1EEFC;
  font-size: 15px;
  border: 0px none;
  box-shadow: none;
  height: 100%;
  width: 50%;
  vertical-align: baseline;
}
.WDdataCellBody  tbody td button:hover{
  background: #2C9AE3;
  color:#FFFFFF;
}

.WDdataCellBody tbody td.parameterButton {
	padding: 0px;
  width: 253px;
}

.WDdataCellBody tbody td button.deletePluginButton {
	border-right: 1px solid #D1EEFC;
}
.WDdataCellBody tbody td button.viewElementButton {
  border-right: 1px solid #D1EEFC;
}
.WDdataCellBody tbody td button.runElementButton {
  width: 100%;
}

.WDdataCellBody tbody tr div.buttonContainer{
  height: 50px;
}

/* Footer */
.WDdataCellBody  tfoot {
}
.WDdataCellBody  tfoot tr {
}
.WDdataCellBody  tfoot td{
}
.WDdataCellBody  tfoot tr:first-child td{
}
.WDdataCellBody  tfoot tr:last-child td{
}
.WDdataCellBody  tfoot td{
}



/* DataTables */

.WDdataCellBody  .dataTables_wrapper tbody tr.odd td.sorting_1,
  .WDdataCellBody  .dataTables_wrapper tbody tr.odd{
  }
.WDdataCellBody  .dataTables_wrapper tbody tr.even td.sorting_1,
  .WDdataCellBody  .dataTables_wrapper tbody tr.even{
  }

/* Pagination and Page Info */

.WDdataCellBody   .dataTables_info{    
}

.WDdataCellBody  .dataTables_paginate{
}
.WDdataCellBody  .dataTables_paginate > span {
}
.WDdataCellBody  .dataTables_paginate > input {
}
.WDdataCellBody   .dataTables_paginate .paginate_button {
}
.WDdataCellBody  .dataTables_paginate .paginate_button.first,
  .WDdataCellBody   .dataTables_paginate .paginate_button.last {
  }
.WDdataCellBody   .dataTables_paginate .paginate_button.previous {
}
.WDdataCellBody  .dataTables_paginate .paginate_button.next {
}
.WDdataCellBody   .dataTables_paginate .paginate_page {
}
.WDdataCellBody   .dataTables_paginate .paginate_of {
}

.WDdataCellBody   .dataTables_paginate .paginate_enabled_next {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous{
}
.WDdataCellBody   .dataTables_paginate .paginate_disabled_next {
}
.WDdataCellBody   .dataTables_paginate .paginate_disabled_previous {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_next:hover {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous:hover {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_next:active {
}
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous:active {
}
.WDdataCellBody   .dataTables_paginate .paginate_disabled_previous,
.WDdataCellBody   .dataTables_paginate .paginate_enabled_previous, 
.WDdataCellBody   .dataTables_paginate .paginate_disabled_next, 
.WDdataCellBody  .dataTables_paginate .paginate_enabled_next {
}

/* Add Ins */
.WDdataCellBody td .trend,
.WDdataCellBody th .trend{
}
.WDdataCellBody  tfoot td .trend{
}
.WDdataCellBody  tfoot td .trend.down,
.WDdataCellBody  tbody td .trend.down,
.WDdataCellBody  thead th .trend.down {
}
.WDdataCellBody  tfoot td .trend.up,
.WDdataCellBody  tbody td .trend.up,
.WDdataCellBody  thead th .trend.up {
}
.WDdataCellBody  tfoot td .trend.neutral,
.WDdataCellBody  tbody td .trend.neutral,
.WDdataCellBody  thead th .trend.neutral {
}


/* =============================================================================
   6. CHARTS 
   ========================================================================== */




/* =============================================================================
   7. SELECTORS AND BUTTONS 
   ========================================================================== */
.WDfilterCell select{
}

button {
}
.no-svg   button {
}
.svg   button {
}

button:hover {
cursor: pointer;
}
button span {
}


/* Multi Button */
.pentaho-toggle-button {

}
.no-svg .pentaho-toggle-button {
}
.svg .pentaho-toggle-button {
}
.pentaho-toggle-button-horizontal-first {
}
.pentaho-toggle-button-horizontal-last {
}
.pentaho-toggle-button:hover,
.pentaho-toggle-button:hover button{
  }
.pentaho-toggle-button-down {

}
.no-svg .pentaho-toggle-button-down {
}
.svg .pentaho-toggle-button-down {
}

.pentaho-toggle-button button {
}
.pentaho-toggle-button-horizontal-last button {
}
.pentaho-toggle-button-horizontal-first button {
}
.pentaho-toggle-button-down button {
}

/**** Chosen Select *****/
/* All Chosen elements */
.chzn-container{
}
.chzn-container * {
}
.chzn-container-active{
}
.chzn-drop{
}
.chzn-drop  .chzn-search{
}
.chzn-drop .chzn-search input{
}
.chzn-drop  .chzn-results{
}
.chzn-drop  .chzn-results li{

}
.chzn-drop .chzn-results em{
}
.chzn-drop  .chzn-results .active-result{
}
.chzn-drop  .chzn-results .highlighted{
}
.chzn-drop  .chzn-results .result-selected{
}
.chzn-drop  .chzn-results .no-results {
}

/* Single Select */
.chzn-container-single .chzn-single{
}
.no-svg    .chzn-container-single .chzn-single{
}

.svg    .chzn-container-single .chzn-single{

}
.chzn-container-single:hover .chzn-single{
}

.chzn-container-single .chzn-single span{
}
.chzn-container-single .chzn-single div{ /* Arrow container */
}
.chzn-container-single .chzn-single div b,
  .chzn-container-single .chzn-single-with-drop div b{ /* Arrow */
  }
.chzn-container-single:hover .chzn-single div b,
  .chzn-container-single:hover .chzn-single-with-drop div b{ /* Arrow */
  }
.chzn-container-single .chzn-single.chzn-single-with-drop{
}
.chzn-container-single .chzn-single-with-drop span{
}
.chzn-container-single .chzn-single-with-drop div{ /* Arrow container */
}
.chzn-container-single .chzn-single-with-drop div b{
} 


/* Multi Select */
.chzn-container-multi.chzn-container{
}
.chzn-container-multi .chzn-drop{
}
.chzn-container-multi .chzn-drop .selectTooltipTriangle{
}
.chzn-container-multi .chzn-drop  .chzn-results{
}

.chzn-container-multi .chzn-choices {
}
.chzn-container-multi:hover .chzn-choices,
  .chzn-container-multi.chzn-container-active .chzn-choices{
  }
.chzn-container-multi .chzn-choices  .search-choice {

}
.no-svg    .chzn-container-multi .chzn-choices  .search-choice {
}
.svg    .chzn-container-multi .chzn-choices  .search-choice {
}
.chzn-container-multi .chzn-choices .search-choice span{
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close{
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
}
.chzn-container-multi .chzn-choices .search-field input{
}



/* =============================================================================
   8. SITE MAP
   ========================================================================== */


/* =============================================================================
   Other 
   ========================================================================== */



input.editBox{
  background-color: transparent;
  border: 1px solid transparent;
  height: 20px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  resize: none;
  padding: 0;
  margin: 0;
  width: 370px;
}

input.editBox:hover {
    background: url("../img/writeUnfocus.png") no-repeat scroll right center transparent;
    border: 1px solid transparent;
}

input.editBox:focus {
    background: url("../img/writeFocus.png") no-repeat scroll right center transparent;
    border: 1px solid #0F1414;
}

/* =============================================================================
   Project Specific Items 
   ========================================================================== */




