/*
 * WDStyleGuide Template CSS  
 *
 * Use this as a template to format the styles of specific projects. Most of 
 * the most commonly used classes/rules are already written here. The file is
 * divided in the following sections:
 *
 *    Color Pallete
 *    Fonts
 *    Style Resets
 *    1. BACKGROUND 
 *    2. HEADER 
 *    3. FILTER CELLS
 *    4. DATA CELLS
 *    5. TABLES
 *    6. CHARTS 
 *    7. SELECTORS AND BUTTONS
 *    8. SITE MAP
 *    Other 
 *    Project Specific Items  
 *
 */

/* =============================================================================
   Color Pallete
   ========================================================================== */

.sparkl-blue-light{
  /* #D1EEFC */
}
.sparkl-blue{
  /* #41B8EE */
}
.sparkl-blue-selected{
  /* #2C9AE3 */
}
.sparkl-grey{
  /* #EBEDEE */
}
.sparkl-grey-selected{
  /* #DBE7ED */
}
.sparkl-grey-font{
  /* #878685 */
}


/* =============================================================================
   Fonts
   ========================================================================== */



/* =============================================================================
   Style Resets
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
/*margin: 0;
padding: 0;
border: 0;
        font-family: OpenSans, Arial, sans-serif;*/
  }


.WDhidden{
  display:none;
}


/* =============================================================================
   1. BACKGROUND 
   ========================================================================== */

/* Window Background */
body{
}
/* Dashboard Background / Blueprint Container */
div.container  {
  background: #FFFFFF;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.container *{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* =============================================================================
   2. HEADER 
   ========================================================================== */


/* =============================================================================
   3. FILTER CELLS
   ========================================================================== */

.globalOptText{
	line-height: 40px;
	text-align: middle;
	color: #878685; 
	text-indent: 20px;
}

/* Filter Cells header */


/* Filter Cells body */
.WDfilterCellBody.tabsContainer {
  display: inline;
  background: #EBEDEE;
}

.WDfilterCell {
  margin-bottom: 34px;
}
.elementsCell .WDfilterCell {
  margin-top: 6px;
  margin-bottom: 15px;
}
.WDfilterCellBody,
> * {
  height:34px;
}

.WDfilterCellBody.tabsContainer,
.WDfilterCellBody.tabsContainer > * {
  height:60px;
}


/********** FILTER ELEMENTS *********/

.WDfilterCellBody.tabsContainer button {
  background: #41B8EE;
  color: #D1EEFC;
  font-size: 25px;
  font-weight: lighter;
  width: 100%;
  border-top: 15px solid #EBEDEE;
  border-right: none;
  border-bottom: 10px solid #EBEDEE;
  border-left: none;
}
.WDfilterCellBody.tabsContainer button:hover{
  background: #2C9AE3;
  color:#FFFFFF;  
} 

.WDfilterCellBody.tabsContainer .closeButton button {
  background: url('../img/x.png') 5px 0px no-repeat #41B8EE;
}
.WDfilterCellBody.tabsContainer .closeButton button:hover {
  background: url('../img/x.png') -30px 0px no-repeat #2C9AE3;
}

.WDfilterCellBody.tabsContainer .pentaho-toggle-button button {
  width: 30%;
  background: #EBEDEE;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  color: #878685;
  vertical-align: baseline;
  border-top: 15px solid #EBEDEE;
  border-right: none;
  border-bottom: 10px solid #EBEDEE;
  border-left: none;
  margin-right: 10px;
  box-shadow: none;
  float: left;
}

.WDfilterCellBody.tabsContainer .pentaho-toggle-button-down button {
  color: #41B8EE;
  background: #FFFFFF;
  border-bottom: 10px solid #FFFFFF;  
}










.cont{
  height: 34px;
  padding: 6px 6px 6px 6px;
  background: #EBEDEE;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #878685;
  position: relative;
  margin-right: 5px;

}

.cont *{
  height: 100%;
  /*width: 100%;*/
  font-size: inherit;
/*  float: left;*/
}

.cont:hover{
  background: #41B8EE;
  color: #FFFFFF;
}
.cont.elementName{
  width: 35%;
}
.cont.elementSelector{
  width: 30%;
}
.cont.elementAddButton{
  width: 15%;
}

.cont.elementName .labelPH{
  background: inherit;
  padding-left: 5px;
  width: 15%;
  line-height: 23px;
  cursor:default;
  width: 30%;
  display: inline;
  float: left;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cont.elementName .formPH{
  width: 70%;
  display: inline;
  float: left;
}
.cont .formPH input{
  width: 100%;
  background: #FFFFFF;
  border: none;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #939292;
  padding-left: 10px;
  margin: 0px;
}
.cont .formPH input:hover{
  cursor: pointer;
}
.cont .formPH input:focus{
  cursor: auto;
}
.cont.elementAddButton{
  padding: 0px 0px 0px 0px;
}
.cont .buttonPH button{
  color: #D1EEFC;
}
.cont .buttonPH button:hover{
  color: #FFFFFF;
}
.cont .selectorPH{
  width: 100%;
}
.cont.elementSelector .selectorPH .chzn-container{
  /*min-width: 188px;*/
  min-width: 100%;
  height: 100%;
  border: none;
}
.cont.elementSelector .selectorPH .chzn-container span{
  line-height: 22px;
}













/*Email Info Popup*/
.emailInfoPopupCont{
  width: 500px;
}







/********/

{
  display: inline;
}

.globalOptButtonPH{
  padding-left: 10px;
  background: #EBEDEE;
}
.globalOptButtonPH.multiButton{
  width: 75%;
  float: left;
  display: inline;
  background: #EBEDEE;
}
.globalOptButtonPH.tabsContainer{
  width: 100%;
  float: left;
  display: inline;
  position: relative;
}

/*** temporary back button until iframes get into sparkl ***/
.tempBackButtonPH{
  position: absolute;
  height: 100%;
  background: #EBEDEE;
  width: 35px;
  top: 0px;
  right: 0px;
}
.WDfilterCellBody.tabsContainer .tempBackButtonPH button{
  background: url("../img/remove_image.png") no-repeat scroll left center #EBEDEE;
  height: 100%;
}
.WDfilterCellBody.tabsContainer .tempBackButtonPH:hover button{
  background: url("../img/remove_image.png") no-repeat scroll right center #EBEDEE;
}
/**********************/

.tabsContainer .globalOptButtonPH *{
  height: 100%;
}
.tabGlobalOpt .globalOptButtonPH{
  display: inline;
  float: right;
  width: 15%;
  padding-left: 0px;
  margin-left: 10px;
}
.tabGlobalOpt .globalOptButtonPH * {
  height: 100%;
}
.tabGlobalOpt .globalOptButtonPH button,
.tabGlobalOpt .globalOptButtonPH a{
  width: 100%;
  background: #EBEDEE;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  color: #878685;
  vertical-align: baseline;
  border: 4px solid #EBEDEE;
  box-shadow: none;
  float: left;
  margin:0px;
  text-decoration:none;
  padding:0px;
  line-height: 26px;
}
.tabGlobalOpt .globalOptButtonPH button:hover,
.tabGlobalOpt .globalOptButtonPH a:hover{
  background: #41B8EE;
  color: #FFFFFF;
}
.tabGlobalOpt .globalOptButtonPH.WDhidden{
  display: none;
}






/********** FILTER ELEMENTS *********/


.refreshButtonContainer,
.refreshButtonContainer > div {
  height:34px;
  float:right;
}
.refreshButtonContainer button{
  height:100%;
  width:34px;
  background: url('../img/refresh.png') -1px 50% no-repeat #EBEDEE;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  -ms-border-radius:2px;
  border-radius:2px;
}
.refreshButtonContainer button:hover{
  background-position: -36px 50%;
  background-color:#EBEDEE;
}













/* Multi Button */
.multiButtonContainer {
  height:100%;
}
.multiButtonContainer > div{
  height:100%;
}
.pentaho-toggle-button {
  display: inline-block;
  margin-right: 5px;
  height:100%;
  width:30%;
}
.tabsContainer .pentaho-toggle-button {
  display: inline;
}
.pentaho-toggle-button button {
  width: 100%;
  height:100%;
  background: #EBEDEE;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  color: #878685;
  vertical-align: baseline;
  border: 4px solid #EBEDEE;
  box-shadow: none;
  float: left;
  margin:0px;
}
.pentaho-toggle-button-down button {
  background: #41B8EE;
  color: #FFFFFF;
}





/* =============================================================================
   4. DATA CELLS
   ========================================================================== */

/* Data Cells */
.WDdataCell {
  position: relative;
  margin-bottom:20px;
}  
.WDdataCell.lastCell {
  margin-bottom:0px;
}

/* Data Cells header*/
.WDdataCellHeader{
  height: 20px;
  color: #878685;
  font-size: 18px;
  text-align: left;
  position: relative;
}
.WDdataCellHeader .title{
  position: absolute;
  bottom: 0px;
  cursor:default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.WDdataCellHeader.underline {
  height:23px;
  padding-bottom:3px;
  margin-bottom:7px;
  border-bottom: 1px solid #41B8EE;
}

/* Data Cells body */
 {
}









.formRow-1 {
  height:45px;
}
.formRow-2{
  height:100px;
}
.formContainer {
  background: #EBEDEE;
  height:100%;
  color: #878685;
  padding: 6px;
  padding-left:90px;
  position:relative;
  margin-bottom: 10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.formContainer:hover {
  background: #41B8EE;
  color: #FFFFFF;
}
.formContainer.noLabel {
  padding-left:6px;
}
.formContainer > div {
  height:100%;
}
.formContainer .formLabel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor:default;
  width:80px;
  margin-left:-84px;
  display:block;
  float:left;
  height:0px;
  line-height:0;
  top:50%;
  position:absolute;
}
.formContainer .formInput {
  height:100%;
}
.formContainer .formInput input{
  height:100%;
  width:100%;
  background: #FFFFFF;
  border: none;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #939292;
  padding-left: 10px;
  margin: 0px;
}
.formContainer .formInput input:hover{
  cursor: pointer;
}
.formContainer .formInput input:focus{
  cursor: auto;
}
.formContainer .uploadButton button{
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: none;
  font-size: 12px;
  font-weight: normal;
  color: #939292;
  padding: 0px;
  cursor:pointer;
}
.formContainer .uploadButton button img {
  width:100%;
  height:100%;
}




 .cont.newPlugin{
  height: 55px;
  max-height: 55px;
  min-height: 55px;
  font-size: 14px;
  padding:10px;
  border-bottom: none;
  width: 80%;
  position: relative;
  float: left;
}
 .cont.newPlugin *{
  font-size: inherit;
  height: 100%;
  float: left;
}
.cont.newPlugin .labelPH{
  width: 25%;
  line-height: 37px;
  margin:0px;
  color: #25BAEE;
}
.cont.newPlugin:hover .labelPH{
  color: #FFFFFF;
}
.cont.newPlugin .formPH{
  width: 32%;
  margin:0px;
}
.cont.newPlugin .formPH input{
  font-size: 14px;
  width: 100%;
}
.cont.newPlugin .validateIconPH{
  width: 5%; 
  background: url('../img/validate_disabled.png') no-repeat scroll right center #FFFFFF;
  position: relative;
}
.cont.newPlugin .validateIconPH.correct{
  background-image: url('../img/validate_correct.png');
}
.cont.newPlugin .validateIconPH.wrong{
  background-image: url('../img/validate_wrong.png') ;
}
.cont.newPlugin .labelPH.validityFeedback{
  width: 38%;
  background: #C31116;
  color: #FFFFFF;
}











 .pluginsListContainer {
  margin-right:-10px;
}

 .createNewPluginPH{
/*  background: #EAEDEE;
  color: #8C8B8B;
*/  width: 19%;
  height: 55px;
  max-height: 55px;
  min-height: 55px;
  float: right;
}
 .createNewPluginPH button{
  background: #EAEDEE;
  color: #8C8B8B;
  font-size: 15px;
  border: 0px none;
  box-shadow: none;
  height: 100%;
  width: 100%;
  vertical-align: baseline;
}
 .createNewPluginPH button:hover{
  cursor: default;  
}
 .createNewPluginPH.active button{
  background: #41B8EE;
  color: #D1EEFC;
}
 .createNewPluginPH.active:hover button{
  background: #2C9AE3;
  color:#FFFFFF;
  cursor: pointer;
}







.newElementContainer {
  padding:6px;
  background: #EBEDEE;
  height:50px;
}

.newElementContainer > div{
  height: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #878685;
  position: relative;
  float: left;
}
.newElementContainer.active > .negative,
.newElementContainer.inactive > .positive {
  display:none;
}


.newElementContainer > .newElementButton {
  width:100%;
  margin:0;
}
.newElementContainer > .newElementButton button {
  width:100%;
  height:100%;
  margin:0;
  background: url('../img/add_new.png') no-repeat 99% center #25BAED;  
  color:#FFFFFF;
  font-size: 15px;
  border: 0;
  box-shadow: none;
  vertical-align: baseline;  
  cursor:pointer;
}
.newElementContainer > .newElementButton button:hover {
  background-color: #009DE2 ;
}


 .newElementContainer > .elementName{
  width: 30%;
}
 .newElementContainer > .elementSelector{
  width: 23%;
}
 .newElementContainer .elementSelector.type{
  padding-right: 0px;
  margin-right: 0px;
}
 .newElementContainer .elementAdminCheckbox{
  width: 14%;
}
 .newElementContainer .elementAdmin{
  width: 14%;
  padding-right:0px;
  padding-left:0px;
}
 .newElementContainer .elementAdmin *{
  height: 100%;
  float: left;
}
 .newElementContainer .elementAddButton{
  width: 50px;
  float: right;
}
.newElementContainer  .buttonPH button{
  background: url('../img/add_new.png') no-repeat center center #25BAED;
}
.newElementContainer .buttonPH button:hover{
  background-color: #009DE2;
}
 .newElementContainer .elementAdmin .labelPH{
  line-height: 38px;
}
 .newElementContainer .elementAdmin .buttonPH{
  width: 30px;
}
 .newElementContainer .elementAdmin .buttonPH button{
  background: url("../img/checkbox.png") no-repeat 0px center #EBEDEE;
  height: 100%;
}
 .newElementContainer .elementAdmin .buttonPH button.checked{
  background: url("../img/checkbox_checked.png") no-repeat 0px center #EBEDEE;
}
.newElementContainer .elementName .formPH{
  width: 100%;
  display: inline;
  float: left;
}
.newElementContainer  .formPH input{
  width: 100%;
  background: #FFFFFF;
  border: none;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #939292;
  padding-left: 10px;
  margin: 0px;
}
.newElementContainer  .formPH input:hover{
  cursor: pointer;
}
.newElementContainer  .formPH input:focus{
  cursor: auto;
}
.newElementContainer .elementSelector .selectorPH .chzn-container{
  /*min-width: 188px;*/
  min-width: 100%;
  height: 100%;
  border: none;
}
.newElementContainer .elementSelector .selectorPH .chzn-container span{
  line-height: 38px;
  text-indent: 8px;
}
.newElementContainer .elementSelector .selectorPH .chzn-container .chzn-single div b{
  height: 100%;
}
.newElementContainer .elementSelector .selectorPH .chzn-drop{
  height: auto;
}
.newElementContainer .elementSelector .selectorPH .chzn-drop .chzn-results li{
  height: 38px;
  line-height: 22px;
  text-indent: 8px;
}








/* =============================================================================
   5. TABLES
   ========================================================================== */

 .dataTables_wrapper {
  min-height: 1px;
}
 .dataTables_wrapper .dataTables_filter{
  display: none;
}

 table{
  border: none;
  max-width: 100%;
  min-width: 100%;
  padding-top: 10px;
}
 table tr{
  background: #EBEDEE;
  height: 50px;
}

/* Header */
 thead tr {
  height: 30px;
}
  thead th {
  background: #FFFFFF;
  color: #939292;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  border-right: 5px solid #FFFFFF;
  vertical-align: bottom;
}
  thead th:last-child {
  text-align: center;
}

/* Body */
  tbody td{
  text-align: left;
  color: #939292;
  font-size: 15px;
  border-bottom: 10px solid #FFFFFF;
  border-right: 5px solid #FFFFFF;
  padding-left: 10px;
}
  tbody td:last-child {
  text-align: center;
  border-right: none;
}
  tbody td,
    tbody td.numeric, 
    tbody td.string {
  }

  tbody td button{
  background: #41B8EE;
  color: #D1EEFC;
  font-size: 15px;
  border: 0px none;
  box-shadow: none;
  height: 100%;
  width: 50%;
  vertical-align: baseline;
}
  tbody td button:hover{
  background: #2C9AE3;
  color:#FFFFFF;
}

 tbody td.parameterButton {
	padding: 0px;
  width: 253px;
}

 tbody td button.deletePluginButton {
	border-right: 1px solid #D1EEFC;
}
 tbody td button.viewDashboardButton {
  border-right: 1px solid #D1EEFC;
  width: 33%;
}
 tbody td button.editDashboardButton {
  border-right: 1px solid #D1EEFC;
  width: 34%;
}
 tbody td button.deleteDashboardButton {
  width: 33%;
}
 tbody td button.runEndpointButton {
  border-right: 1px solid #D1EEFC;
}

 tbody tr div.buttonContainer{
  height: 50px;
}


/* =============================================================================
   6. CHARTS 
   ========================================================================== */


/* =============================================================================
   7. SELECTORS AND BUTTONS 
   ========================================================================== */

button {
  cursor:pointer;
  border:none;
  width: 100%;
  height: 100%;
}



/**** Chosen Select *****/
/* All Chosen elements */
.chzn-container{
  height:100%;
  min-width: 160px;
  border: 4px solid #EBEDEE;
}
.chzn-container .chzn-drop {
  background: none;
  min-width: 100%;
  border: 0 none;
  border-radius: 0px;
  margin: 0px;
  margin-top:2px;
  height:auto;
}
.chzn-container .chzn-results {
  overflow: hidden;
  padding: 0px;
  width: 100%;
  margin:0px;
}
.chzn-drop  .chzn-search{
  display: none;
}
.chzn-drop  .chzn-results li{
  line-height: 10px;
  height: 25px;
  color: #D1EEFC;
  text-indent: 4px;
  border-bottom: 1px solid #D1EEFC;
  background: #41B8EE;
}
.chzn-drop .chzn-results li:last-child{
  border-bottom:none;
}
.chzn-drop .chzn-results li:hover {
  background: #2C9AE3;
  color:#FFFFFF;
}

/* Single Select */
.chzn-container-single .chzn-single{
  background: #41B8EE;
  color: #D1EEFC;
  border-radius: 0px;
  border:none;
  height: 100%;
  min-width: 100%;
  line-height: 26px;
}
.chzn-container-active .chzn-single {
    box-shadow: none;
}
.chzn-container-single:hover .chzn-single{
  background:#2C9AE3;
}
.chzn-container-single .chzn-single div{ /* Arrow container */
  background: none;
  border:none;
  width:22px;
}
.chzn-container-single .chzn-single div b{
  width:18px;
  height:11px;
  display:inline-block;
  background: url('../img/arrow.png') -4px 50% no-repeat transparent;
}
.chzn-container-single .chzn-single-with-drop div b,
.chzn-container-single .chzn-single:hover div b{ /* Arrow */
  background-position: -28px 50%;
}
.chzn-container-single:hover .chzn-single div b,
  .chzn-container-single:hover .chzn-single-with-drop div b{ /* Arrow */
  
}
.chzn-container-single .chzn-single.chzn-single-with-drop,
.chzn-container-single .chzn-single:hover{
  box-shadow: none;
  border:none;
  background:#2C9AE3;
  color:#FFFFFF;
}



/* =============================================================================
   8. SITE MAP
   ========================================================================== */


/* =============================================================================
   Other 
   ========================================================================== */


.popupComponent{
   color: #878685;
   font-size: 18px;
   text-align: left;
   height: auto;
   padding: 15px 15px 15px 15px; 

   border:solid 2px #25B9ED;
   -webkit-box-shadow:0px 1px 2px 0px #C4C4C4;
   -moz-box-shadow:0px 1px 2px 0px #C4C4C4;
   -o-box-shadow:0px 1px 2px 0px #C4C4C4;
   -ms-box-shadow:0px 1px 2px 0px #C4C4C4;
   box-shadow:0px 1px 2px 0px #C4C4C4;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   -o-border-radius:2px;
   -ms-border-radius:2px;
   border-radius:2px;

   position: absolute;

  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popupComponent *{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popupComponent a{
   display: none;
}
.popupComponent.north .arrow,
.popupComponent.south .arrow {
  background-image: none;
}







input.editBox{
  background-color: transparent;
  border: 1px solid transparent;
  height: 20px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  resize: none;
  padding: 0;
  margin: 0;
  width: 370px;
}

input.editBox:hover {
    background: url("../img/writeUnfocus.png") no-repeat scroll right center transparent;
    border: 1px solid transparent;
}

input.editBox:focus {
    background: url("../img/writeFocus.png") no-repeat scroll right center transparent;
    border: 1px solid #0F1414;
}



.optionsIcon{
  background-image: url('../img/options.png');
}




/***** Confirmation Message Dialog *****/
.ui-dialog{
}
.ui-dialog.ui-widget.ui-corner-all{
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
}
.ui-dialog.ui-widget.ui-widget-content{
  background: #FFFFFF;
  color: #8786A4;
  border: 2px solid #25B9ED;
}

.ui-dialog .ui-dialog-titlebar.ui-widget-header{
  border-radius: 0px;
  background: #25B9ED;
  color: #FFFFFF;
  border: none;
}
.ui-dialog .ui-dialog-titlebar.ui-widget-header a{
  display: none;
}
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a{
  display: inline;
}
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a.ui-dialog-titlebar-close.ui-state-focus,
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a.ui-dialog-titlebar-close.ui-state-hover{
  background: #25B9ED;
  border: none;
}
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a span{
  background: url('../img/x.png') -45px -10px no-repeat #25B9ED;
}
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a.ui-dialog-titlebar-close.ui-state-focus span,
.ui-dialog.closeButtonVisible .ui-dialog-titlebar.ui-widget-header a.ui-dialog-titlebar-close.ui-state-hover span{
  background: url('../img/x.png') -11px -9px no-repeat #25B9ED;
}
.ui-dialog .ui-dialog-content{
  color: #8786A4;
  min-height: 0px;
}
.ui-dialog .ui-dialog-buttonpane{
  background: #FFFFFF;
  border: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.ui-dialog .ui-dialog-buttonpane button{
  background: #25B9ED;
  color: #FFFFFF;
  border-radius: 0px;
  border: none;
}
.ui-dialog .ui-dialog-buttonpane button:hover{
  background: #2C9AE3;
  color:#FFFFFF;
}

.ui-widget-overlay{
  background: #FFFFFF;
  opacity: 0.8;
}



/* =============================================================================
   Project Specific Items 
   ========================================================================== */

