/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */


/*
 * WDStyleGuide Template CSS  
 *
 * Use this as a template to format the styles of specific projects. Most of 
 * the most commonly used classes/rules are already written here. The file is
 * divided in the following sections:
 *
 *    Fonts
 *    Style Resets
 *    1. BACKGROUND 
 *    2. HEADER 
 *    3. FILTER CELLS
 *    4. DATA CELLS
 *    5. TABLES
 *    6. CHARTS 
 *    7. SELECTORS AND BUTTONS 
 *    Other 
 *    Project Specific Items  
 *
*/


/* =============================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Gudea';
    font-style: normal;
    font-weight: 400;
    src: local('Gudea'), url('http://themes.googleusercontent.com/static/fonts/gudea/v1/kfCeUiT0HGXHQC8YVeaKy6CWcynf_cDxXwCLxiixG1c.woff') format('woff');
}


/* =============================================================================
   Style Resets
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  /*margin: 0;
    padding: 0;
    border: 0;
    font-family: Open Sans, Arial, sans-serif;*/
}

.WDhidden{
    display:none;
}




/* =============================================================================
   1. BACKGROUND 
   ========================================================================== */

/* Window Background */
body{
    font-family: Gudea;
    background: #dee8ec;
}

.sparklWrapper{
	width: 1000px;
	border: 2px solid #25B9ED;
	margin-right:auto;
  margin-left:auto;
  background: #FFFFFF;
  border-top: 0px;
}

/* =============================================================================
   2. HEADER 
   ========================================================================== */
   
.sparklHeader {
    height: 56px;
    line-height:56px;
    background: url('../img/headerShadow.png') 0px 100% no-repeat #25B9ED ;
    position: relative;
    display:block;
    overflow:hidden;
}

.sparklLogo{
  height:100%;
  width:200px;
  float:left;
  background: url('../img/logo.png') 0px 50% no-repeat transparent;
  margin-left:30px;
}


.sparklMail {
  height: 100%;
  color: #FFFFFF;
  float:right;
  margin-right:30px;
}

.sparklMail a{
  background: url('../img/email.png') 0px 50%;
  width:31px;
  height:21px;
  position:relative;
  display:inline-block;
}
.sparklMail a:hover{
  background-position: -32px 50%;
}

.sparklMail a span {
  width:0px;
  position:absolute;
  right:0px;
  margin-right:36px;
  overflow:hidden;
  line-height: 1;
  text-align: right;
  color:#FFFFFF;
  font-size:13px;
  bottom: 3px;
  white-space: nowrap;

  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.sparklMail a:hover span {
  width:155px;
  margin-right:31px;
}

.sparklHeader .pluginTabContainer {
  height:100%;
  min-width:400px;
  max-width:400px;
  position:relative;
  float:left;
  padding:15px;

  -webkit-box-shadow:  0px 0px 6px 4px #3C8AB2;
  box-shadow:  0px 0px 6px 4px #3C8AB2;
}

.sparklHeader *{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sparklHeader .pluginTabContainer .pluginName{
  color: #FFFFFF;
  font-size:14px;
  float:left;
  height:0px;
  line-height:0px;
  left:15px;
  margin-right:25px;
  text-transform:uppercase;
}

.sparklHeader .pluginTabContainer .pluginId {
  float:left;
  color: #D1EEFC;
  font-size:11px;
  float:left;
  height:0px;
  line-height:0px;
  position:absolute;
  top:40%;
  margin-top: 16px;
  left:15px;
  margin-right:25px;
}

.sparklHeader .pluginTabContainer .closeButton {
  position:absolute;
  width:13px;
  height:13px;
  background: url('../img/x.png') -11px 50% transparent no-repeat;
  top: 50%;
  margin-top: -7px;
  right: 10px;
  cursor:pointer;
}

.sparklHeader .pluginTabContainer .closeButton:hover {
  background-position: -46px 50%;
}

/* =============================================================================
   3. FILTER CELLS
   ========================================================================== */

/* =============================================================================
   4. DATA CELLS
   ========================================================================== */

/* =============================================================================
   5. TABLES
   ========================================================================== */

/* =============================================================================
   6. CHARTS 
   ========================================================================== */

/* =============================================================================
   7. SELECTORS AND BUTTONS 
   ========================================================================== */

/* =============================================================================
   Other 
   ========================================================================== */

.sparklContent {
    /*border: 2px solid #25B9ED;
	border-top: none;*/
    display: block;
    padding: 30px 25px;

}


/* =============================================================================
   Project Specific Items 
   ========================================================================== */
