html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*margin: 0;
	padding: 0;
	border: 0;*/
	font-family: Open Sans, Arial, sans-serif;
}

.WDhidden{
	display: none;
}

.fool,
.fool *{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fool{
	width: 950px;
	display: inline;
	padding: 30px 30px;
}
.sparklElementCardContainer{
	width: 210px;
	height: 110px;
	color: #5E5F5F;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.optsExpandCont{
	height: 100%;
	position: relative;
}
.optsExpandCont.typeDashboard{
	background: #DAE7ED;
}
.optsExpandCont.typeEndpoint{
	background: #EAEDEE;
}
.cardBody{
	height: 76px;
	padding: 10px 10px 0px 10px;
	font-size: 12px;
}
.cardBody .name{
	font-weight: bold;
	padding-bottom: 5px;
}
.cardBody .description{
}
.cardFooter{
	padding: 5px 5px 5px 10px;
	font-size: 15px;
	height: 34px;

}
.cardFooter .typeLabel{
	float: left;
	height: 100%;
	line-height: 25px;
}
.optsExternCont{
	height: 0px;
	bottom: 0px;
	position: relative;
	-webkit-transition: all 600ms ease-out;
	-moz-transition:    all 600ms ease-out;
	-ms-transition:     all 600ms ease-out;
	-o-transition:      all 600ms ease-out;
	transition:         all 600ms ease-out;
}
.optsExternCont:hover{
	height: 100%;
	bottom: 100%;
	left: 0px;
	cursor: pointer;	
}
.optionsIcon{
  	background: url('img/options.png') no-repeat 0px center transparent;
	float: right;
	height: 29px;
	width: 24px;
	border-bottom: 5px solid transparent;
	position: absolute;
	bottom: 0px;
	right: 5px;
}
.optsExternCont:hover .optionsIcon{
  	background: url('img/options.png') no-repeat -24px center transparent;
  	cursor: pointer;
}
.optionsContainer{
	height: 100%;
	position: relative;
	background: #25BAED;

	z-index: 1000;
}
.optionCont{
	height: 25px;
	padding: 0px 10px 0px 10px;
	background: #25BAED;
	color: #CEEEFC;
	border-bottom: 1px solid #83D5F4;
	line-height: 25px;
}
.optionCont:hover{
	background: #009DE2;
	color: #F2FAFD;
};