html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*margin: 0;
	padding: 0;
	border: 0;*/
	font-family: Open Sans, Arial, sans-serif;
}

.WDhidden{
	display: none;
}

.fool,
.fool *{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fool{
	width: 950px;
	display: inline;
	padding: 30px 30px;
}

/***** Plugin Card *****/

.sparklPluginCardContainer{
	width: 230px;
	height: 230px;
	background: #EAEDEE;
	color: #434140;
	position: relative;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.sparklPluginCardContainer.lastInRow{
	margin-right: 0px;
}
.descriptionExpandCont{
	height: 195px;
	overflow: hidden;
	position: relative;
}
.cardHeader{
	height: 70px;
	padding: 10px 10px;
	font-size: 18px;
}
.cardHeader .name{
	height: 50%;
	padding-bottom: 5px;
}
.cardHeader .id{
	height: 50%;
	color: #878685;
	font-weight: normal;
	font-size: 15px;
}

.cardBody{
	position: relative;
}
.imageContainer{
	height: 125px;
	background: orange;
}
.imageContainer:hover{
	cursor: pointer;
}
.imageContainer .image{
	width: 100%;
	height: 100%;
}
.descriptionContainer{
	height: 0px;
	bottom: 0px;
	padding: 10px 10px;
	font-size: 15px;
	position: relative;
	background: #434141;
	font-size: 15px;
	-webkit-transition: all 500ms ease-out;
	-moz-transition:    all 500ms ease-out;
	-ms-transition:     all 500ms ease-out;
	-o-transition:      all 500ms ease-out;
	transition:         all 500ms ease-out;
}
.descriptionExpandCont:hover .descriptionContainer{
	height: 195px;
	bottom: 195px;
}
.descriptionContainer .header{
	height: 25px;
	color: #0398DA;
}

.descriptionContainer .body{
	height: 140px;
	color: #EAEDEF;
}
.cardFooter{
	padding: 5px 5px 5px 10px;
	font-size: 15px;
	height: 35px;

}
.cardFooter .versionLabel{
	float: left;
	height: 100%;
	line-height: 25px;
}
.optsExternCont{
	height: 0px;
	bottom: 0px;
	position: relative;
	-webkit-transition: all 500ms ease-out;
	-moz-transition:    all 500ms ease-out;
	-ms-transition:     all 500ms ease-out;
	-o-transition:      all 500ms ease-out;
	transition:         all 500ms ease-out;
}
/*.optsExternCont:hover{
	height: 160px;
	bottom: 160px;
	left: 0px;
	cursor: pointer;	
}*/
.optsExternCont.expanded{
	height: 160px;
	bottom: 160px;
	left: 0px;
}
.optionsIcon{
  background: url('img/options.png') no-repeat 0px center transparent;
	float: right;
	height: 29px;
	width: 24px;
	border-bottom: 5px solid transparent;
	position: absolute;
	bottom: 0px;
	right: 5px;
	z-index:200;
}
.optionsIcon:hover{
  	background-position: -24px center;
  	cursor: pointer;
}
.optsExternCont.expanded .optionsIcon{
  	background-position: -24px center;
}
.optionsContainer{
	height: 100%;
	position: relative;
	background: #25BAED;

	z-index: 100;
}
.optionCont{
	height: 40px;
	padding: 0px 10px 0px 10px;
	background: #25BAED;
	color: #CEEEFC;
	border-bottom: 1px solid #83D5F4;
	font-size: 15px;
	line-height: 40px;
}
.optionCont:hover{
	background: #009DE2;
	color: #F2FAFD;
	cursor: pointer;
}

/***** New Plugin Card *****/

.sparklNewPluginCardContainer{
	width: 230px;
	height: 230px;
	background: #EAEDEE;
	color: #434140;
	position: relative;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;

	-webkit-transition: all 150ms ease-out;
	-moz-transition:    all 150ms ease-out;
	-ms-transition:     all 150ms ease-out;
	-o-transition:      all 150ms ease-out;
	transition:         all 150ms ease-out;
}
.sparklNewPluginCardContainer:hover{
	background: #25BAED;
}
.sparklNewPluginCardContainer .optionCont{
	height: 110px;
	line-height: 110px;
	font-size: 20px;
}
.sparklNewPluginCardContainer .optionCont .label{
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
}
.sparklNewPluginCardContainer .separator{
	height: 10px;
}
.sparklNewPluginCardContainer .separator .horizontalRectangle{
	height: 10px;
	width: 60px;
	background: #FFFFFF;
	position: absolute;
	left: 85px;
	top: 110px;

	-webkit-transition: all 500ms ease-out;
	-moz-transition:    all 500ms ease-out;
	-ms-transition:     all 500ms ease-out;
	-o-transition:      all 500ms ease-out;
	transition:         all 500ms ease-out;
}
.sparklNewPluginCardContainer .separator .verticalRectangle{
	height: 60px;
	width: 10px;
	background: #FFFFFF;
	position: absolute;
	left: 110px;
	top: 85px;

	-webkit-transition: all 500ms ease-out;
	-moz-transition:    all 500ms ease-out;
	-ms-transition:     all 500ms ease-out;
	-o-transition:      all 500ms ease-out;
	transition:         all 500ms ease-out;
}
.sparklNewPluginCardContainer:hover .separator .horizontalRectangle{
	width: 230px;
	left: 0px;
}
.sparklNewPluginCardContainer:hover .separator .verticalRectangle{
	height: 0px;
	top: 115px;
}
.sparklNewPluginCardContainer .optionCont{
	visibility: hidden;
	border-bottom: none;
	text-align: center;
}
.sparklNewPluginCardContainer:hover .optionCont{
	visibility: visible;

		-webkit-transition: visibility 500ms 500ms ease-out ;
	-moz-transition:    visibility 500ms 500ms ease-out ;
	-ms-transition:     visibility 500ms 500ms ease-out ;
	-o-transition:      visibility 500ms 500ms ease-out ;
	transition:         visibility 500ms 500ms ease-out ;
}

.sparklNewPluginCardContainer .overlay{
	background:#EAEDEE;
	height:100%;
	width:100%;
	position: absolute;

	-webkit-transition: all 50ms ease-out;
	-moz-transition:    all 50ms ease-out;
	-ms-transition:     all 50ms ease-out;
	-o-transition:      all 50ms ease-out;
	transition:         all 50ms ease-out;
}

.sparklNewPluginCardContainer:hover .overlay{
	background: transparent;
	z-index:-100;
}
